#RewriteEngine On
#RewriteCond %{HTTP_HOST} ^e-regional\.net/square/ [OR]
#RewriteCond %{HTTP_HOST} ^www\.e-regional\.net/square/
#RewriteCond %{REQUEST_URI} square/public/
#RewriteRule ^(.*)$? square/public/$1 [L] 